# Path to service account JSON (relative to this folder or absolute)
GOOGLE_APPLICATION_CREDENTIALS=../mlops-491304-7e80763d346a.json

GCP_PROJECT_ID=mlops-491304
GCP_LOCATION=us-central1
GCS_BUCKET_NAME=mlops-491304-artifacts
GEMINI_MODEL=gemini-1.5-flash
